<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-ChinookWeb-b3183f88-af4d-45b9-b6a9-a1d2b316601b;AttachDbFilename=|DataDirectory|\aspnet-ChinookWeb-b3183f88-af4d-45b9-b6a9-a1d2b316601b.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name="ChinookDB"  
       connectionString="Data Source=.SQLEXPERESS;Initial Catalog=Chinnok; Integrated Security=ture"
       providerName="System.Data.SqlClient>"/>
</connectionStrings>
